In [ ]:
# repeat some task again and again
# loop>>>
list = [10,20,30,40,50,60,70]
for num in list:
  print(num, end=" ")

10 20 30 40 50 60 70

In [ ]:
len(list)

7

admin@techforallwithpriya.com

 with the index we can directly acces the element

 for loop>> You know in advance how many times you want to iterate (like over a list, a range of numbers, etc.)

In [ ]:
for i in range(len(list)):
  print(list[i])

10
20
30
40
50
60
70

In [ ]:
for i in range(0 , len(list) , 2):
  print(list[i])

10
30
50
70

In [ ]:
for i in range(1,5):
  print(list[i] , end=" ")

20 30 40 50

while loop>>> it continues while the condition is true its more tuff for bingnerrs compare the for loop

In [ ]:
num = 1

while num < 5:
  print(num)
  num = num +1

1
2
3
4

In [ ]:
list = [10, 12 , 14, 15 , 17, 21, 22, 27, 29]
# write a code to print a even element and odd in the output
for num in list:
  if num % 2 == 0:
      print(f"Even number: {num}")
  else:
      print(f"odd number:{num}")

Even number: 10
Even number: 12
Even number: 14
odd number:15
odd number:17
odd number:21
Even number: 22
odd number:27
odd number:29

In [ ]:
list

[10, 12, 14, 15, 17, 21, 22, 27, 29]

In [ ]:
list[-1]

29

In [ ]:
# silcing operation>>>>

list[::2]

[10, 14, 17, 22, 29]

In [ ]:
list[::-2]

[29, 22, 17, 14, 10]

In [ ]:
list.append(78)
print(list)

[10, 12, 14, 15, 17, 21, 22, 27, 29, 78, 78]

In [ ]:
list.insert(1 , 15)
list

[10, 15, 12, 14, 15, 17, 21, 22, 27, 29, 78, 78]

In [ ]:
list.count(15)

2

In [ ]:
#TASK 1>>>  to explore all the methods related to the list data struture
# TASK 2>>> WRITE a loop to find out the larhest number in the list
list= [10, 20, 30, 40, 11, 13, 80, 100]
output= 100

TASK 1>>>  to explore all the methods related to the list data struture

In [ ]:
list = [10, 12, 14, 16, 20, 40, 50, 100, 200 ]
minimum = min(list)
print("the number of the list is:", minimum)

the number of the list is: 10

In [ ]:
list = [10, 12, 14, 16, 20, 40, 50, 100, 200 ]
maximum = max(list)
print("the maximum number of the list is:", maximum)

the maximum number of the list is: 200

In [ ]:
list.reverse()
print(list)

[200, 100, 50, 40, 20, 16, 14, 12, 10]

In [ ]:
list = [10, 12, 14, 16, 20, 40, 50, 100, 200 ]
list.remove(50)
print(list)

[10, 12, 14, 16, 20, 40, 100, 200]

In [ ]:
list.clear()
print(list)

[]

In [ ]:
list = [10, 12, 14, 16, 20, 40, 50, 100, 200 ]
list.pop(3)
print(list)

[10, 12, 14, 20, 40, 50, 100, 200]

In [ ]:
fruits = ["apple", "bnana", "orange", "grapes"]
fruits.pop()
print(fruits)

['apple', 'bnana', 'orange']

In [ ]:
list = [10, 12, 40, 50, 100, 200, 100, 100 ]
list.count(100)

3

In [ ]:
# list.index(x[, start[, end]])
'''
x>>> the value you find
start>>> the value you start serching
end>>> where you stop the serching
'''
list = [1, 4, 6, 5, 8 ]
list.index(6, 1, 9)

2

In [ ]:
list.copy()

[1, 4, 6, 5, 8]

In [ ]:
# TASK 2>>> WRITE a loop to find out the laghest number in the list
list= [10, 20, 30, 40, 11, 13, 80, 100]
maximum = max(list)
print("the maximum number of the list:", maximum)                                                    #  output= 100

the maximum number of the list: 100

 given a number and cheak weather it is multiple of 2 or not

In [ ]:
num = int(input("enter the number:"))
if num % 2 == 0:
  print("the number is multiple of 2:")
else:
  print("the number is not mutiple of 2:")

enter the number:12
the number is multiple of 2:

In [ ]:
x = 10

if x >= 10:
  print("x is greater than 10: ")
elif x == 10:
  print("x is equal to 10: ")
else:
  print("x is not equal to 10: ")

x is greater than 10:

In [ ]:
a = 5
b = 1
c = 3

if a > b and a > c:
  print("a is greater than b and c: ")
elif b > a and b > c:
  print("b is greater than a and c: ")
elif c > a and c > b:
  print("c is greater than a and b: ")

else:
  print("the condition is not satisfied: ")

a is greater than b and c:

In [ ]:

#  Python program to count the number of even and odd numbers from a series of numbers.
#  Python program to display all numbers within a range except the prime numbers.
#  Python program to get the Fibonacci series between 0 to 50.
#  Python program to find the factorial of a given number.
#  Python program that accepts a string and calculates the number of digits and letters.
#  Write a Python program that iterates the integers from 1 to 25.
#  Python program to check the validity of password input by users.
#  Python program to convert the month name to a number of days.

In [ ]:
# Python program to print all the even numbers within the given range.

lst2 = [2, 5, 6, 4, 8, 13]
for num in lst2:

 if num % 2 == 0:
  print(f"even number: {num} ")

even number: 2
even number: 6
even number: 4
even number: 8

In [ ]:
# Python program to calculate the sum of all numbers from 1 to a given number.

n = int(input("enter the number:"))

total = 0

for i in range(1,n+1):
    total += i

print(f"the sum of number from 1 to {n} is:" , {total} )

enter the number:10
the sum of number from 1 to 10 is: {55}

In [ ]:
# # Get input from the user
start = int(input("Enter the starting number of the range: "))
end = int(input("Enter the ending number of the range: "))

# Initialize sum
total = 0

# Loop through the range and add only odd numbers
for i in range(start, end + 1):
    if i % 2 != 0:
        total += i

# Display the result
print(f"The sum of odd numbers from {start} to {end} is:{total}" )

Enter the starting number of the range: 2
Enter the ending number of the range: 5
The sum of odd numbers from 2 to 5 is:8

In [ ]:
# Python program to print a multiplication table of a given number

number = int(input("enter the mutiplication number of the table: "))
for i in range(1,11):
    print(f"\nmutiplication table of {number} ")
    result = number * i
    print(f"{number} * {i} = {result}")

enter the mutiplication number of the table: 2

mutiplication table of 2
2 * 1 = 2

mutiplication table of 2
2 * 2 = 4

mutiplication table of 2
2 * 3 = 6

mutiplication table of 2
2 * 4 = 8

mutiplication table of 2
2 * 5 = 10

mutiplication table of 2
2 * 6 = 12

mutiplication table of 2
2 * 7 = 14

mutiplication table of 2
2 * 8 = 16

mutiplication table of 2
2 * 9 = 18

mutiplication table of 2
2 * 10 = 20

In [ ]:
#  Python program to display numbers from a list using a for loop.

list = [2,3,4,5,6,7]
for num in list:
  print(num, end=" ")

2 3 4 5 6 7

In [ ]:
# Python program to count the total number of digits in a number

num = input("Enter a number: ")
digit_count = len(str(num))

print("total number of digit:", digit_count)

Enter a number: 4563
total number of digit: 4

In [ ]:
# Python program to check if the given string is a palindrome.

text = input("enter the string:")

reversed_text = text

if text == reversed_text:
  print("the string is palindrome:")
else:
  print("the string is not palindrome")

enter the string:level
the string is palindrome:

In [ ]:
# Python program that accepts a word from the user and reverses it.

text = "Hello"
# text[::-1] this string start with end(-1 step) and go backward
reversed_text = text[::-1]
print(reversed_text)

olleH

In [1]:
# Python program to check if a given number is an Armstrong number

num = int(input("enter the number:"))

# str(num) converts the number into a string, so we can loop through its digits.
# len(num_str) counts how many digits are in the number
num_str = str(num)
num_digit = len(num_str)

# initilaization
total = 0

# int(digit) converts the digit (which is a character) back to an integer.
# int(digit) ** num_digits raises the digit to the power of num_digits.

for digit in num_str:
  total += int(digit) ** num_digit

if total == num:
  print(num , "the number is armstrong")
else:
  print(num , "the number is not armstrong")

enter the number:153
153 the number is armstrong

In [4]:
# Python program to count the number of even and odd numbers from a series of numbers.

number = [2, 3, 4, 5, 6, 7, ]
even_count = 0
odd_count = 0
for i in number:
  if i % 2 == 0:
    even_count += 1
  else:
    odd_count += 1


print("count of even number", even_count)
print("count of odd number", odd_count)

count of even number 3
count of odd number 3

In [ ]:

# Print all characters in a string using a for loop.
# Create a list of squares from 1 to 10 using a loop.

In [ ]:
#  Print numbers from 1 to 10 using a for loop.

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print the square of numbers from 1 to 5.

for i in range(1, 6):
    print("Square of", i, "is", i**2)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [ ]:
# Print all even numbers in a given list.

list = [11, 12, 13, 14, 15, 16]
for num in list:
  if num % 2 == 0:
    print(f"even number:", {num})

even number: {12}
even number: {14}
even number: {16}

In [ ]:
# Count how many positive numbers are in a list.

number = [1, -2, 3, -4, -5]

positive_count = 0

for num in number:
    if num > 0:
         positive_count += 1

print("total positive number:", positive_count)

total positive number: 2

In [ ]:
# Calculate the sum of a list of numbers.

list = [10, 20, 30, 40]
print(sum(list))

100

In [ ]:
# Print a right-angled triangle pattern:
# *
# **
# ***
# ****

for row in range(4):
  for j in range(row+1):

    print("*" , end="")
  print()

*
**
***
****

In [ ]:
# Print the multiplication table of a number

number = int(input("enter the number:"))
for i in range(1,11):
  result = number* i
  print(f"{number} * {i} = {result}")

enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#  Print all characters in a string using a for loop.

text = input("enter the string:")
for char in text:
  print(char)

enter the string:hello
h
e
l
l
o